@charset "UTF-8";

#header-calendario {
  margin-bottom: 48px;
}

.calendar-container {
  max-width: 1200px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.legend-container{
  background-color: var(--w);
  margin: 0 -17px 20px -17px;
  display: block;
  padding: 5px 0px;
  position: sticky;
  top: 0px;
  left: 0;
}

.legend {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  justify-content: center;
}

.legend p {
  display: flex;
  align-items: center;
}

.color-box {
  width: 13px;
  height: 13px;
  display: inline-block;
  margin-right: 5px;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.month {
  width: 45%;
  min-width: 300px;
  background: var(--w);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-self: flex-start;
}

.month h3 {
  background: var(--cp007);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  padding: 10px;
}

.day {
  background: #ddd;
  padding: 10px;
  border-radius: 5px;
}

.empty {
  background: none;
  border: none;
}

.event {
  color: white;
  font-weight: bold;
}

.event.blue {
  background: blue;
}

.event.green {
  background: green;
}

.event.red {
  background: red;
}

.event.orange {
  background: orange;
}

@media (max-width: 1200px) {
  .calendar-container {
    border-radius: 0px;
  }

}

@media (max-width: 900px) {
  #header-calendario {
    margin-bottom: 28px;
  }

  .legend {
    grid-template-columns: repeat(2, 1fr);
  }

  .days {
    padding: 10px 0px;
  }

  .day {
    padding: 6px;
  }
}