@charset "UTF-8";
.footer{
    background-color: var(--cp008);
}
.footer-container{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(5, 1fr) 2fr;
    color: var(--w);
    margin: 0 auto;
    padding: 60px 20px;
}
.footer-list{
    list-style: none;
}
.footer-list-title{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer-list-item{
    margin-bottom: 5px;
}
.flst-bold{
    font-weight: bold;
    text-transform: uppercase;
}
.footer-list-subcontainer{
    padding-bottom: 15px;
}
.footer-list-subcontainer + .footer-list-subcontainer{
    border-top: 3px solid var(--cp011);
    padding-top: 15px;
}
.footer-logo-container{
    background-color: var(--cp009);
}
.footer-logo-container div{
    padding: 10px 0px;
}
.footer-logo-container div img{
    margin: 0 auto;
}
@media (max-width: 1000px) {
    .footer-container{
        grid-template-columns: repeat(3, 1fr);
        gap: 32px 0px;
    }
    .flc-contact{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-row: 3;
        grid-column: 1 / -1;
    }
    .footer-list-subcontainer:first-child{
        padding-right: 30px;
    }
    .footer-list-subcontainer + .footer-list-subcontainer{
        border-top: none;
        border-left: 3px solid var(--cp011);
        padding: 0 30px;
    }
}
@media (max-width: 800px) {
    .flc-contact{
        display: initial;
        grid-template-columns: 1fr;
    }
    .footer-list-subcontainer + .footer-list-subcontainer{
        border-top: none;
        border-left: initial;
        border-top: 3px solid var(--cp011);;
        padding: initial;
        padding: 15px 0;
    }
    .footer-list-subcontainer{
        padding-bottom: initial;
        padding: 15px 0;
    }
}
@media (max-width: 680px) {
    .footer-container{
        grid-template-columns: 1fr;
        gap: 32px 0px;
    }
    .flc-contact{
        grid-row: initial;
    }
}