@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
:root{
    --w: #ffffff;
    --c001: #F0F0F0;
    --c002: #D1D1D1;
    --c003: #A7A7A7;
    --c004: #818181;    
    --c005: #5F5F5F;    
    --c006: #424242;    
    --c007: #303030;    
    --c008: #202020;    
    --c009: #121212;
    --b: #000000;
    --cp001: #95FDCD;        
    --cp002: #76F4BA;
    --cp003: #5BEDAA;
    --cp004: #3FD18E;
    --cp005: #26AB6E;
    --cp006: #006D3B;
    --cp007: #025730;
    --cp008: #004123;
    --cp009: #012C18;
    --cp010: #012314;
    --cp011: #011A0E;
    --cs001: #A38E38;
    --cs002: #837021;
    --cs003: #5A4C11;
}
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
/* 2. Remove default margin */
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  }
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
  /* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
a {
  text-decoration: none;
  color: inherit;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
.icon-s{
  margin-right: 5px;
}
/*9. Create a root stacking context*/
#root, #__next {
  isolation: isolate;
}
/*Poppins*/
.font-1-xxl{
    font: 600 4rem/1.125 'Poppins', sans-serif;
}
.font-1-xl{ 
    font: 600 2rem/1.25 'Poppins', sans-serif;
}
.font-1-l{
    font: 400 1.5rem/1.5 'Poppins', sans-serif;
}
.font-1-m {
    font: 400 1.125rem/1.35 'Poppins', sans-serif;
}
.font-1-m-b {
    font: 600 1.125rem/1.35 'Poppins', sans-serif;
}
.font-1-s {
    font: 400 1rem/1.5 'Poppins', sans-serif;
}
.font-1-xs {
    font: 400 0.75rem/1.35 'Poppins', sans-serif;
}
/*Roboto*/
.font-2-xl{
    font: 500 2rem/1.25 'Roboto', sans-serif;  
}
.font-2-l {
    font: 400 1.5rem/1.5 'Roboto', sans-serif;
}
.font-2-l-b {
    font: 500 1.5rem/2.25 'Roboto', sans-serif;
    letter-spacing: 0.015em;
    text-transform: uppercase;
}
.font-2-m {
    font: 500 1.125rem/1.35 'Roboto', sans-serif;
}
.font-2-s {
    font: 400 1rem/1.5 'Roboto', sans-serif;
}
.font-2-xs {
    font: 400 0.875rem/1.43 'Poppins', sans-serif;
}
@media (max-width: 1000px) {
    .font-1-xxl {
      font-size: 3rem;
    }
    .font-2-l,
    .font-2-l-b {
      font-size: 1.125rem;
    }
  }
  @media (max-width: 800px) {
    .font-1-xxl {
      font-size: 2rem;
    }
    .font-1-xl,
    .font-2-xl {
      font-size: 1.5rem;
    }
  }