@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
:root{
    --w: #ffffff;
    --c001: #F0F0F0;
    --c002: #D1D1D1;
    --c003: #A7A7A7;
    --c004: #818181;    
    --c005: #5F5F5F;    
    --c006: #424242;    
    --c007: #303030;    
    --c008: #202020;    
    --c009: #121212;
    --b: #000000;
    --cp001: #95FDCD;        
    --cp002: #76F4BA;
    --cp003: #5BEDAA;
    --cp004: #3FD18E;
    --cp005: #26AB6E;
    --cp006: #006D3B;
    --cp007: #025730;
    --cp008: #004123;
    --cp009: #012C18;
    --cp010: #012314;
    --cp011: #011A0E;
    --cs001: #A38E38;
    --cs002: #837021;
    --cs003: #5A4C11;
}
*{
    margin: 0px;
    padding: 0px;
}